.summary {
  padding: 1rem;
  text-align: right;
  padding-right: 2rem;
  padding-left: 4rem;
}

.summary__company {
  color: #4D4D4F;
}

.summary__company:hover {
  color: #111111;
  text-decoration: none;
}
