li {
  color: #4d4d4f; /* Apply color to all text inside <li> */
}

li a {
  color: #000000; /* Set link text color to black */
}

* {
  font-family: inter, sans-serif;
}
.summary {
  text-align: left;
  font-weight: 400;
  font-style: normal;
  padding-right: 1rem;
  padding-left: 2rem;
}

.summary li {
  margin-bottom: 0.66em;
  line-height: 1.33em;
}

.title {
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-right: 1rem;
  padding-left: 2rem;
}

.summary_long {
  text-align: left;
  font-weight: 400;
  font-style: normal;
  padding-right: 1rem;
  padding-left: 2rem;
  max-width: 900px;
}

a:hover {
  color: #111111;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 640px) {
  body {
    font-size: 1.5em;
    padding-right: 3em;
  }
}

body {
  padding: 5em 1.25em 6em 3em;
  margin: 0.5em;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: normal;
  gap: 24px;

  h1 {
    text-align: left;
    font-weight: 400;
    font-style: normal;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 1em;
    border: 1px solid #4d4d4f;
  }
}

@media (max-width: 639px) {
  body {
    padding: 3em 1em 1em 0.5em;
  }
  .title img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 1em;
    border: 1px solid #4d4d4f;
  }
}

h2 {
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 1.25em;
  font-weight: normal;
  line-height: 1.33em;
}

ol,
ul {
  margin-left: 1.5rem;
}
