.page__content__container {
  padding: 0 3rem 0 3rem;
}

.projects {
  text-align: left;
}

h2.projects {
  font-weight: normal !important;
}

.blog_body li {
  padding-bottom: 2rem;
  list-style-type: none;
}

.blog_body ul {
  padding-left: 0rem;
}
