.page__content__container {
  padding: 0 3rem 0 1rem;
}

.projects {
  text-align: left;
}

h2.projects {
  font-weight: normal !important;
}

.blog_body li {
  padding-bottom: 2rem;
}

.blog_body ul {
  padding-left: 0rem;
}

@media (min-width: 640px) {
  body {
      font-size: 1.5em;
      padding-right: 3em;
  }
}

body {
  padding: 5em 1.25em 6em 3em;
  margin: 0.5em;
}


h2 {
  font-size: 1em;
  margin-top: 4em;
  margin-bottom: 1.25em;
  font-weight: normal;
  letter-spacing: -0.01em;
  line-height: 1.33em;
}

ul {
  margin-left: 1rem;
}
* {
  font-family: inter, sans-serif;
}

h1 {
  margin-bottom: 2rem;
}